<canvas id="canvas"></canvas>
<script>
new Chart(document.getElementById("canvas"),
{
      type: 'bar',
      options: {
        animation: false,
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            enabled: true 
          }
        }
      },
      data: {
        
        labels: [{{range .}}"{{.Username}}",{{end}}],
        datasets: [
          {
            label: 'username',
            data: [{{range .}}{{.EventCount}},{{end}}],
            
            backgroundColor: "rgba(59, 222, 255, 0.7)"
          }
        ]
      }
    }
  );
</script>
