<div class="card" style="margin: 10px;">
  <img class="card-img-top" src="..." alt="PLACEHOLDER">

  <div class="card-body">
    <h5 class="card-title">{{ .Name }}</h5>
    <div>
      A creature with the head of a {{.Head}} and the body of a {{ .Body }}.<br />
      It stands on its {{ .Leg_num }} legs, which look like those of a {{ .Legs }}.<br />
      Its habitat is the {{ .Habitat }} in which it is a {{ .Class }}.<br />
      This one in particular has a {{ .Nature }} nature <br />
    </div>
  </div>
</div>
