<div>
	Riesci a liberarti con un pezzo di ferro.
	<div class="row">
		<div class="glitch-container col-4" style="padding-bottom: 10px; bottom: 0px;">
			<a style="color:#03fcf8;" hx-trigger="click" hx-get="/minigame3" hx-target="#content"
				hx-swap="innerHTML">CONTROLLA LO SPORTELLO
			</a>
		</div>
		<div class="col-4">
			<div class="glitch-container" style="bottom: 0px; padding-bottom:10px">
				<a style="color:#03fcf8;" hx-trigger="click" hx-get="/minigame4" hx-target="#content"
					hx-swap="innerHTML">CONTROLLA GLI INTERNI DEL FURGONE
				</a>
			</div>
		</div>
	</div>
</div>
