<html>
<!DOCTYPE html>


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Creature Generator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  <link rel="stylesheet" href="index.css">
  </link>
</head>
<h1 class="testfont" style="text-align: center;"> RANDOM CREATURE GENERATOR</h1>


<body>
  <div style="text-align: center;">
    <button type="button" class=" testfont btn btn-dark" hx-get="/random_creature" hx-swap="afterbegin"
      hx-target="#creature-data">Create new creature</button>
  </div>
  <div id="creature-data" class="box">
  </div>
  <div style="text-align: center;" id="about-container">
  </div>
</body>
<footer style="text-align: center; cursor: pointer;" hx-get="/about" hx-target="#about-container">About</footer>

</html>

<style>
</style>
