<div>
	Ti ritrovi baule di un furgone. Le tue mani sono legate.
	<div style="height: 80px;" />
	<div class="row">
		<div class="glitch-container  col-4" style="padding-bottom: 10px; bottom: 0px;">
			<a style="color:#03fcf8;" hx-trigger="click" hx-get="/minigame1" hx-target="#content"
				hx-swap="innerHTML">CERCA
				QUALCOSA DI
				AFFILATO
			</a>
		</div>
		<div class="glitch-container  col-4" style="bottom: 0px; padding-bottom:10px">
			<a style="color:#03fcf8;" hx-trigger="click" hx-get="/minigame2" hx-target="#content"
				hx-swap="innerHTML">ASPETTA
			</a>
		</div>
	</div>
</div>
