<div>
	<p>Stack del server</p>
	<p>La stack e' disponibile all'indirizzo <a href="https://github.com/Woshiwuja/anarchy2036.xyz">Github</a></p>
	<p>
		TL;DR: La stack e' molto semplice, un webserver in go, htmx per la gestione del frontend (ottimo
		progetto). Vanilla JS per il cursore.
		Nessun utilizzo di JSON o simili. Gli elementi vengono swappati all'interno del dom con chiamate http le
		quali rispondono con altro htmx.
		Visitando <a href="/stack">/stack</a>, per esempio, si puo' vedere il contenuto di questo div.
		<br>
		Il css viene fornito da bootstrap e cose rubate in giro per il web. sorry :P
		<br>
		No non mettero' https per un sito statico senza alcun login o simili. <br>
		we need speed
	</p>
</div>
